<!DOCTYPE html>
<html>
<head>
    <title>About me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/sidebar.css">
    <style>
      .sidebar li {
          list-style: none;
          margin: 5px 0;

      }

      .sidebar li a {
          display: block;
          padding: 13px;
          background-color: #001011;
          color: #23CE6B;
          text-decoration: none;
          border-radius: 50px;
          box-shadow: #FF7477;
      }

      .sidebar li a:hover {
          background-color: #FF7477;
          color: #f0f0f0;

      }
  </style>

</head>
    <body>

  <div class="sidebar">
    <h1>Tello Framework</h1>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="settings.html">Settings</a></li>
        <li><a href="database.html">Database</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
  </div>
  <div class="content">
  </div>
  <div class="container">
    <header class="header">
      <h1 class="header__title">About Me</h1>

    </header>

    <section class="about-content">
      <h2>Welcome to Our Company</h2>
      <h3>Im a developer who is interested in ve</h3>
    </section>
 

    <footer class="footer">
      <p>&copy; 2023 as-squirrel.  All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
